@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

body, html {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

h4{
  font-weight:bold;
  font-size: 20px;
}

h1{
  font-weight:800;
  font-size: 50px;
}

h3{
  font-size: 30px;
  font-weight:bold;
}

.wrapper{
  width:960px;
  margin: 0 auto;
}

.hero-banner{
  background-color: #007FFF;
  min-height: 100vh;
  padding: 50px 20px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.hero-banner h4{
  color:white;
  margin: 0;
}

.hero-banner h3{
  color:white;
  margin: 0 0 35px 0;
}

.hero-banner h1{
  color:white;
  margin: 14px 0 20px;
}

.character1{
  background: url(img/cake.png) no-repeat 0 0;
  background-size: 30%;
  width:840px;
  height:859px;
  position: absolute; top: 170px; right: -375px;
  transform: rotate(15deg);
}

.character2{
  background: url(img/masks.png) no-repeat 0 0;
  background-size: 30%;
  width:900px;
  height:660px;
  position: absolute; top: 300px; right: -325px;
}

.character3{
  background: url(img/logo.png) no-repeat 0 0;
  background-size: 100%;
  width:250px;
  height:250px;
  position: absolute; bottom: 100px; right: 109px;
}

a.cta,
button.cta{
  font-size: 30px;
  font-weight: bold;
  color:white;
  background-color: #007FFF;
  display: inline-block;
  box-shadow: 0 0 0 10px rgba(0, 127, 255, .15);
  padding: 20px 30px;
  border-radius: 10px;
  text-decoration: none;
}

a.cta.alt,
button.cta.alt{
  background-color: #FFd400;
  color: black;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, .15);
}
